<h1>Welcome</h1>
<div>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae voluptatem laudantium numquam unde veniam deserunt harum placeat quas, doloribus adipisci cumque ab, consequuntur tempora praesentium veritatis inventore. Esse, ea similique?</div>
<%= button_to "Login", '/login', method: :get%>
<%= button_to "Sign Up", '/users/new', method: :get%>
<%= button_to "Login With Github", '/auth/github', method: :post %>