<div class="jumbotron">
  <h1 class="display-4">Welcome to Trippin</h1>
  <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem doloremque sit porro a. Sunt veniam voluptate eum deleniti vel nesciunt obcaecati delectus ducimus. Impedit magnam blanditiis, accusamus voluptatem ipsum eveniet.</p>
  <% if !logged_in? %>
  <hr class="my-4">
  <div class="d-flex flex-column">
  <div>Start using Trippin by logging in or creating an account below!</div>
  <p><%= button_to "Login", '/login', method: :get, class: 'btn btn-primary btn-lg'%></p>
<p><%= button_to "Sign Up", '/users/new', method: :get, class: 'btn btn-primary btn-lg'%></p>
<p><%= button_to "Login With Github", '/auth/github', method: :post, class: 'btn btn-primary btn-lg'%></p>
</div>
<%end%>
</div>


<div class="container-fluid">
    <button class="navbar-toggler ms-auto" type="button" data-mdb-toggle="collapse"
      data-mdb-target="#navbarToggleExternalContent3" aria-controls="navbarToggleExternalContent3"
      aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
  </div>
</nav>
<div class="collapse" id="navbarToggleExternalContent3">
  <div class="bg-light shadow-3 p-4">
    <button class="btn btn-link btn-block border-bottom m-0">Link 1</button>
    <button class="btn btn-link btn-block border-bottom m-0">Link 2</button>
    <button class="btn btn-link btn-block m-0">Link 3</button>
  </div>
</div>