<h1>Edit Profile</h1>
<%= render partial: 'userform'%>
<p><%= button_to "Delete Profile", user_path(@user), method: :delete, class: 'btn btn-danger btn-sm', data: {confirm: "Are you sure that you want to delete your profile?"}%></p>